body {
    margin: 0;
    padding: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex-grow: 1;
    flex-basis: 150;
    height: 150px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    height: 150px;
    width: 250px;
    object-fit: cover;
}

.card-right {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
}

.card-right h2{
    font-weight: 900;
}

.card-right h3,h2,p {
    margin: 0;
}